$primary-color:#007bff;
$success-color:#28a745;
$warning-color:#ffc107;
$danger-color:#dc3545;
$background-color:#f8f9fa;
$text-primary-color:#4b4b4b;
$text-secondary-color:#f8f9fa;
$click-effect-color:rgba($color: #3b3b3b, $alpha: 0.5);
$background-color-1:#ececec;
$threshold-color:#ff815b;
$sequence-anomaly-null:#1a1a1a;