@use "../styles/variables" as *;
@use "../styles/utils" as *;

.nav-title{
    @include verticalCenter();
    padding-left: 20px;
    font-size: 1.2rem;
    background-color: $primary-color;
    color: $text-secondary-color;
    height: 45px;
}