@use "../styles/variables" as *;
@use "../styles/utils" as *;

.tooltip-wrapper {
    background-color: $background-color;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: start;

    .tooltip-txt {
        font-size: 0.8rem;
    }
}